@model IEnumerable<OverbookingApp.Models.FlightModel>

@{
    ViewBag.Title = "All Flights";
}

<h2>All Flights</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FromTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th># Passengers</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.passengers.Count)
            </td>
            <td>
                @Html.ActionLink("Add passenger", "Create", "Passenger", new { flightId = @item.FlightId}, null)
            </td>
        </tr>
    }

</table>
