@model OverbookingApp.Models.FlightModel

@{
    ViewBag.Title = "Overbooking";
}

<h2>Overbooking</h2>

<div>
    <h4>Flight Details</h4>
    <hr />

    <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">@Html.Encode(ViewData["expectedPassengers"]) / 200</h4>
            <p class="card-text">number of expected passengers / seats</p>
        </div>
    </div>
    <br />
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
