@model OverbookingWeb.Models.ParameterModel

@{
    ViewBag.Title = "Create Parameter";
}

<h2>New Parameter</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Parameter</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Parameter, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="parameter" name="parameter">
                    <option value="">- Please select a parameter -</option>
                    <option value="age">Age (e.g. 32)</option>
                    <option value="fromto">Route (e.g. GRU-JFK)</option>
                    <option value="datetime">Date and time (e.g. 2018-01-05 09:06)</option>
                </select>
                @Html.ValidationMessageFor(model => model.Parameter, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Probability, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Probability, new { @value = "", htmlAttributes = new { @class = "form-control", @placeholder = "from 0.00 to 1.00" } })
                @Html.ValidationMessageFor(model => model.Probability, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Flight List", "Index", "Flight")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
